.searchGifs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;

  &__query {
    flex: 1 50%;
    margin-right: 16px;
  }

  &__scroll {
    height: auto;
    flex: 1 50%;

    & > .list__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: stretch;
      padding: 0 3px;
    }
  }

  &__item {
    flex-shrink: 1;
    flex-grow: 4;
    height: 100px;
    min-width: 0;
    max-width: 100%;
    margin: 3px;

    & > .video__player {
      object-fit: cover;
      max-height: 100px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

}