.emoji-category {
  padding: 0 10px 16px;
  text-align: left;

  &:last-child { padding-bottom: 0; }

  &__title {
    color: #7b8083;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14PX;
    padding: 8px 6PX 10px;
    position: sticky;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.9) 60%,rgba(255,255,255,0) 100%);;
    top: 0;
  }

  &__items {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(9, 1fr);
  }

  &__item {
    font-size: 30px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    line-height: 1;
    padding-top: 5px;
    border-radius: 10px;
    transition: background-color .15s ease-out;

    &:hover {
      background-color: rgba(#707579, 0.08);
    }
  }
}
