.select {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    right: 18px;
    top: 16px;
    width: 12px;
    height: 12px;
    border-bottom: 2px solid #DEE0E3;
    border-right: 2px solid #DEE0E3;
    border-radius: 1px;
    transform: rotate(45deg);
    z-index: 1;
    transition: .1s linear;
    transform-origin: 65% 65%;
  }

  &.focused::after {
    border-color: #4EA4F5;
    transform: rotate(-135deg);
  }

  &__options {
    position: absolute;
    top: 120%;
    width: 100%;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    z-index: 2;
    max-height: 240px;
    overflow: scroll;
  }

  &__option {
    padding: 0px 14px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #DEE0E3;

    &:last-child {
      border-bottom: 0;
    }

    &:hover {
      background: #fefefe;
    }
  }
}