@import '~styles/variables.scss';

.pollResultOption {
  display: flex;
  flex-direction: column;

  &__percent {
    padding-left: 16px;
  }

  &__header {
    border-top: 1px solid $common-border-color;
    background-color: white;
    padding: 16px 18px 9px 14px;
    display: grid;
    grid-template-columns: 1fr auto;
    color: #707579;
    font-weight: 500;
    font-size: 0.95rem;
    position: sticky;
    top: 0;
  }

  &__voters-list {
    display: flex;
    flex-direction: column;
  }

  &__voter {
    display: flex;
    align-items: center;
    padding: 9px var(--content-padding);

    & .avatar {
      width: 32px;
      height: 32px;
    }
  }

  &__voter.-hidden {
    display: none;
  }

  &__voter-name {
    padding-left: 28px;
  }

  &__voter-placeholder {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding-left: var(--content-padding);

    & .avatar {
      width: 32px;
      height: 32px;
      border-radius: 100%;
      background-color: rgba(0, 0, 0, 0.08);
    }

    & .voter-name {
      width: 30px;
      height: 20px;
      margin-left: 20px;
      border-radius: 8px;
      background-color: rgba(0, 0, 0, 0.08);
    }
  }
}

.pollResultOption.-hidden {
  display: none;
}
