{
  "env": {
      "browser": true,
      "es6": true
  },
  "extends": [
      "airbnb/base",
      "plugin:flowtype/recommended"
  ],
  "globals": {
      "Atomics": "readonly",
      "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module"
  },
  "plugins": [
      "flowtype"
  ],
  "rules": {
      "max-len": [2, 150, 4],
      "no-continue": 0,
      "no-bitwise": 0,
      "no-underscore-dangle": "off",
      "no-plusplus": "off",
      "object-curly-newline": "off"
  },
  "settings": {
    "import/resolver": {
      "webpack": {}
    }
  }
}