{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "airbnb-typescript"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [],
  "rules": {
    "max-len": [2, 150, 4],
    "no-continue": 0,
    "no-bitwise": 0,
    "no-underscore-dangle": "off",
    "no-plusplus": "off",
    "object-curly-newline": "off",
    "new-cap": "off",
    "class-methods-use-this": "off"
  },
  "settings": {
    "import/resolver": {
      "webpack": {}
    }
  }
}
