.webpage-preview {
  border-left: 2px solid #4EA4F5;
  padding-left: 6px;
  font-size: 15px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  margin-bottom: 10px;

  &__header {
    color: #4EA4F5;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__photo {
    border-radius: 4px;
    overflow: hidden;
    max-width: 100%;
    margin-top: 6px;
  }

  &__title {
    font-weight: 500;
  }

  &__photo.small {
    float: right;
    width: 60px;
    margin-left: 6px;
    margin-top: 0;
  }
}