.shared-media {
  margin-top: 30px;
  flex: 1 50%;

  &__item {
    height: 100%;
    width: 100%;
  }

  &__mediarow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 6px 6px 0px;

    &:last-child {
      padding-bottom: 6px;
    }
  }

  &__mediaitem {
    width: 32%;
    margin-right: 6px;
    overflow: hidden;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;

    &:last-child { margin-right: 0; }

    & .photo {
      width: 100% !important;
    }
  }

  &__loader {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4ea4f5;

    svg {
      width: 30px;
      height: 30px;
    }
  }
}
