.clickable {
  position: relative;
  overflow: hidden;

  .clickable__effect {
    background-color: rgba(0, 0, 0, 0.08);
    width: 30px;
    height: 30px;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    mix-blend-mode: screen;
    border-radius: 50%;
    animation: click .8s ease-out forwards;
  }
}

@keyframes click {
	0%   { transform: translate(-50%, -50%); opacity: 0; }
	10%  { transform: translate(-50%, -50%) scale(3); opacity: 1; }
	80%  { transform: translate(-50%, -50%) scale(20); opacity: 1; }
	100% { transform: translate(-50%, -50%) scale(20); opacity: 0; }
}