@import '~styles/variables.scss';

.list {
  height: 100%;
  overflow: scroll;
  z-index: 0;
  transform: translate3d(0, 0, 0); // https://stackoverflow.com/a/30533339/1118709
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 0; // To force the content to scroll

  &.-reversed > :first-child {
    margin-top: auto;
  }

  &__appearing {
    animation: listAppear .3s ease;
    z-index: 1;
  }

  &__removing {
    position: absolute;
    animation: listRemove .3s ease;
  }

  &__flipping {
    transition: transform .3s ease;
    z-index: 1;
  }

  &__scroll-in {
    transition: transform .2s ease;
    z-index: 1;
  }

  @keyframes listAppear {
    from {
      opacity: 0;
    }
  }

  @keyframes listScrolled {
    from {
      transform: translateY(-100vh);
    }
  }

  @keyframes listRemove {
    to {
      opacity: 0;
    }
  }
}

.demoListRow {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.-focused {
    transition: .3s ease-in-out;
    background-color: blue;
    color: #ffffff;
  }

  &:nth-child(2n) {
    height: 100px;
    background-color: #f1f1f1;
  }

  &:nth-child(3n) {
    height: 140px;
  }

  &:nth-child(4n) {
    height: 300px;
  }
}

.demoListGroup {
  &__header {
    position: sticky;
    background-color: #333333;
    color: #ffffff;
    top: 0;
    text-align: center;
  }
}