.ripple {
  position: relative;
  overflow: hidden;

  &__content {
    position: relative;
    z-index: 1;
  }

  &__effect {
    background-color: rgba(0, 0, 0, 0.08);
    width: 30px;
    height: 30px;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    mix-blend-mode: screen;
    border-radius: 50%;
    animation: click .8s ease-out forwards;
  }
}

@keyframes click {
	0%   { transform: translate(-50%, -50%); }
	80%  { transform: translate(-50%, -50%) scale(20); }
	100% { transform: translate(-50%, -50%) scale(20); opacity: 0; }
}