@import '~styles/variables.scss';

.document-audio {
  display: flex;
  overflow: hidden;
  transform: translateZ(0);

  &__play-button {
    margin: 9PX 8PX 9PX 10PX;
  }

  &__wave {
    display: flex;
    flex-direction: column;
    margin-top: 7PX;
    margin-right: 10PX;
    overflow: hidden;
  }

  &__track {
    margin-top: 6.5PX;
  }

  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }  

  &__timing {
    color: $accent-color-inactive;
    font-size: 14px;
    line-height: 2;
  }

  .message.chat {
    --waveform-color: #50a2e9;
  }

  .message.chat.out {
    --waveform-color: #4fae4e;
  }
}
