.document-audio {
  display: flex;

  &__play-pause {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10PX;
    margin-top: 1PX;
    margin-bottom: 1PX;
    border-radius: 50%;
    width: 54PX;
    height: 54PX;
    background-color: var(--accent-color);

    svg {
      transform: scale(1.3);
      path {
        fill: var(--bubble-background);
      }
    }
  }

  &__wave {
    display: flex;
    flex-direction: column;
    margin-top: 4PX;
  }

  &__timing {
    color: var(--accent-color-inactive);
    font-size: 14px;
    line-height: 2;
  }

  .message.chat {
    --waveform-color: #50a2e9;
  }
  
  .message.chat.out {
    --waveform-color: #4fae4e;
  }
}
