.infoPanel {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  height: 100%;

  &__title {
    font-weight: 500;
    font-size: 20px;
    flex: 1;
    padding: 0 20px;
  }

  &__header {
    display: flex;
    align-items: center;
    margin: 6px 12px;
  }

  &__avatar {
    width: 120px;
    height: 120px;

    & .avatar__standard {
      font-size: 40px;
    }
    
    svg {
      transform: scale(2.5);
    }
  }

  &__name {
    font-weight: 500;
    font-size: 20px;
    padding-top: 15px;
  }

  &__status {
    margin-bottom: 10px;
  }

  &__avatar, &__name, &__status {
    align-self: center;
  }
}
