.infoPanel {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;

  &__title {
    font-weight: 500;
    font-size: 20px;
    flex: 1;
    padding: 0 20px;
  }

  &__header {
    display: flex;
    align-items: center;
    margin: 6px 12px;
  }

  &__avatar {
    width: 120px;
    height: 120px;
  }

  &__name {
    font-weight: 500;
    font-size: 20px;
    padding-top: 15px;
  }

  &__status {
    margin-bottom: 10px;
  }

  &__media {
    overflow-y: scroll;
  }

  &__avatar, &__name, &__status {
    align-self: center;
  }
}
