.messagesSearch {
  flex: auto;
  display: flex;
  flex-direction: column;

  &__header {
    flex: none;
    height: 62px;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }

  &__close {
    flex: none;
    margin: 0 12px 0 -8px;
  }

  &__input {
    flex: auto;
  }

  &__summary {
    flex: none;
    padding: 15px 24px;
    color: #707579;
    font-size: 16px;
    font-weight: 500;
  }
}
