@import "~styles/variables.scss";

.sidebarWrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color var(--animation-sidebar);
  animation: sidebarWrapperAppear var(--animation-sidebar);

  &__content {
    height: 100%;
    background-color: #FFFFFF;
    transition: transform var(--animation-sidebar);
    animation: sidebarWrapperContentAppear var(--animation-sidebar);
  }

  &:first-child {
    animation: none;
  }

  &:first-child &__content {
    animation: none;
  }

  &:nth-last-child(2) &__content {
    transform: translate(-25%, 0);
  }
}

@keyframes sidebarWrapperAppear {
  from {
    background-color: rgba(0, 0, 0, 0.0);
  }
}

@keyframes sidebarWrapperContentAppear {
  from {
    transform: translate(100%, 0);
  }
}
