@import '~styles/variables.scss';

.msginput {
  padding: 0 var(--content-padding);

  &.hidden {
    display: none;
  }

  &__emoji, &__attach {
    cursor: pointer;
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    svg {
      width: 24px;
      height: 24px;
    }

    svg path {
      fill: #8e979d;
      transition: fill .3s ease;
    }

    &:hover svg path, &.active svg path  {
      fill: #50a2e8;
    }
  }

  &__container {
    position: relative;
    margin: 0 auto;
    padding: 5px 0px 18px;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    @include respond-to(small) {
      padding: 4px 0px 8px;
    }
  }

  &__bubble {
    flex: 1 50%;
    .bubble2__background {
      transform: scale(-1, 1);
      width: calc(100% + 6PX);
    }

    .bubble2__content {
      padding-left: 2PX;
      padding-right: 3PX;
    }
  }

  & .msgRecordSend {
    margin-bottom: 3PX;
  }

  &__bubble-content {
    width: 100%;
    min-height: 54px;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    outline: none;
    position: relative;
  }

  &__btn {
    flex-shrink: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0;
    outline: none;
    background-color: #fff;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    box-shadow: 0px 1px 2px 0px rgba(16, 35, 47, 0.15);
    margin-left: 8px;
    cursor: pointer;
    
    svg path {
      fill: #4EA4F5;
    }
  }

  &__attachments-menu {
    position: absolute;
    right: 62px;
    bottom: 80px;
    transform-origin: right bottom;
    z-index: 1;
  }

  &__quote {
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    height: 42px;
    opacity: 1;
    transition: .1s ease-out;

    &-cancel {
      padding: 0 15px;
      cursor: pointer;

      & path { fill: #8e979d; }
      &:hover path { fill: #4EA4F5; }
    }

    & .quote { 
      max-width: 300px;
    }

    &.hidden {
      opacity: 0;
      height: 0;
    }
  }
}
