@import '~styles/variables.scss';

.msginput {
  padding: 0 20px;

  &.hidden {
    display: none;
  }

  &__emoji, &__attach {
    cursor: pointer;
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    svg {
      width: 24px;
      height: 24px;
    }

    svg path {
      fill: #8e979d;
      transition: fill .3s ease;
    }

    &:hover svg path, &.active svg path  {
      fill: #50a2e8;
    }
  }

  &__attach input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    appearance: none;
    cursor: pointer;
    opacity: 0;
  }

  &__container {
    margin: 0 auto;
    padding: 5px 0px 18px;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__bubble_wrap {
    position: relative;
    flex: 1 50%;

    &::after {
      position: absolute;
      left: 100%;
      width: 7px;
      bottom: 0;
      height: 17px;
      z-index: 2;
      content: '';
      background-image: url(~assets/message_corner@2x.png);
      background-size: 100%;
      transform: scaleX(-1);

      @include safari-only() {
        margin-left: -1px;
      }
    }

    &::before {
      position: absolute;
      left: -10px;
      top: -10px;
      right: -10px;
      bottom: -10px;
      content: '';
      border-image: url(~assets/message_out-whole@2x.png) 49 49 49 49 fill;
      z-index: 0;
      border-style: solid;
      border-width: 25px;
    }
  }

  &__bubble {
    background: #FFFFFF;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    width: 100%;
    min-height: 54px;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    outline: none;
    position: relative;
  }

  &__btn {
    background-color: #4EA4F5;
    background-image: url(~components/icons/microphone.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    box-shadow: 0px 1px 2px 0px rgba(16, 35, 47, 0.15);
    margin-left: 8px;
  }
}
