@import '~styles/variables.scss';

.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  &__sidebar {
    width: 26%;
    max-width: 420px;
    min-width: 320px;
    border-right: 1PX solid #EDEEF0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    @include respond-to(small) {
      width: 100%;
      max-width: 100%;
    }
  }

  &__menu {
    flex: none;
  }

  &__dialogs {
    flex: 1 50%;
    display: flex;
    flex-direction: column;
    position: relative;

    .dialogs {
      height: 100%;
      flex: 1 50%;

      &__spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__content {
    flex: 1 50%;
    background: #E6EBEE;
    
    @include respond-to(small) {
      display: none;
    }

    .messages {
      width: 100%;
      height: 100%;
      // background-image: url(~assets/bg.jpg); // Removed to smooth the scroll in Safari
      background-size: 500px auto;
      display: flex;
      flex-direction: column;

      &__history {
        flex: 1 50%;
      }
    }
  }
}
