@import '~styles/variables.scss';

.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  @include respond-to(widescreen) {
    width: 1680px;
    border-left: 1px solid #EDEEF0;
    border-right: 1px solid #EDEEF0;
    margin: 0 auto;
  }

  &__sidebar {
    flex: 0 420px;
    overflow: hidden;
    width: 26%;
    max-width: 420px;
    min-width: 360px;
    height: 100%;
    border-right: 1PX solid #EDEEF0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @include respond-to(small) {
      width: 100%;
      max-width: 100%;
    }
  }

  &__menu {
    flex: none;
  }

  &__dialogs {
    overflow: hidden;
    flex: 1 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: calc(100% - 62px);

    .dialogs {
      height: 100%;
      flex: 1 50%;

      &__spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__content {
    flex: 1 50%;
    overflow: hidden;
    background: #E6EBEE;

    @include respond-to(small) {
      display: none;
    }

    .messages {
      width: 100%;
      height: 100%;
      background-color: rgb(183, 191, 152);
      background-image: url(~assets/chamomile-blurred.jpg);
      background-size: cover;
      background-position: center center;
      display: flex;
      flex-direction: column;
      position: relative;

      &__history {
        flex: 1 50%;
        z-index: 0;
        mask-image: linear-gradient(to top, transparent, #000 12px);
      }

      &__spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__right_sidebar {
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    max-width: 420px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition-property: flex-basis;
    transition-duration: .15s;

    &.visible {
      border-left: 1px solid #EDEEF0;
    }

    @include respond-to(small) {
      width: 100%;
      max-width: 100%;
    }
  }
  
  &__right_sidebar:hover {
    flex-basis: 420px;
  }
}
