.sticker {
  width: 200px;
  height: 200px;
  position: relative;
  user-select: none;
  cursor: pointer;

  &__thumb {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    img {
      filter: blur(5px);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.removed {
      animation: stickerRemove .3s ease;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;

    &.animated {
      animation: stickerAppear .4s ease;
    }
  }

  &__tgs {
    width: 100%;
    height: 100%;
    &.animated {
      animation: stickerAppear .4s ease;
    }
  }
}

@keyframes stickerRemove {
  to {
    opacity: 0;
  }
}

@keyframes stickerAppear {
  from {
    opacity: 0;
  }
}