$animation-duration: 0.2s;
$height: 62px;

.network-status {
  padding: 0px 8px 6px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $height;
  will-change: transform, opacity;
  transform-origin: top;
  transform: scaleY(1);
  opacity: 1;
  transition: transform $animation-duration ease-in-out, opacity $animation-duration ease-in-out;

  & + .dialogs {
    will-change: transform;
    transition: transform $animation-duration ease-in-out;
    transform: translate3d(0, $height, 0);
  }

  &.hidden {
    transform: scaleY(0);
    opacity: 0;
  }

  &.hidden + .dialogs {
    transform: translate3d(0, 0, 0);
  }

  &__container {
    background-color: #fed75b;
    border-radius: 10px;
    height: 56px;
    color: #2d3939;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 14px;
    font-weight: 500;
  }

  &__loader {
    width: 25px;
    height: 25px;
    margin-right: 33px;

    circle {
      stroke: #2d3939;
    }
  }
}
