@import '~styles/variables.scss';

.popup-sticker-set {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 245px;
  max-height: 70vh;
  overflow: hidden;
  padding: 0;

  @include respond-to(small) {
    width: 90vw;
    border-radius: 10px;
    padding: 0 16px;
    height: 40vh;
  }

  &__loading {
    width: 30px;
    height: 30px;
    color: #4ea4f5;
  }

  & > .sticker-set {
    flex: 1 50%;
    overflow-y: scroll;

    @include respond-to(small) {
      & > .sticker-set__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
      }
    }
  }

  &__bottom {
    height: 56px;
    border-top: 1px solid #dedfe2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__add {
    color: #1da1f1;
    text-transform: uppercase;
    cursor: pointer;
  }
}
