.header {
  background: #FFFFFF;
  height: 61px;
  border-bottom: 1px solid #EDEEF0;
  padding: 5px 11px 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  &.hidden {
    display: none;
  }

  &__profile {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    & .avatar {
      width: 46px;
      height: 46px;
      --initials-font-size: 16px;
    }
  }

  &__info {
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &__title {
    font-weight: 500;
    font-size: 15px;
  }

  &__pinned {
    $ripple-padding: 7px 7px;

    flex-grow: 0;
    min-width: 0; // To let it shrink when there is little space
    max-width: (250px + nth($ripple-padding, 2));

    &_ripple {
      padding: $ripple-padding;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color .2s ease;

      &:hover {
        background: rgba(#707579, 0.08);
      }
    }
  }

  &__actions {
    flex: none;
    display: flex;
  }

  &__typing-indicator {
    font-size: 14px;
    color: #1DA1F1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 200px;

    &__content {
      color: #707579;
    }
  }
}
