@import '~styles/variables.scss';

.header {
  background: #FFFFFF;
  height: $main-header-height;
  padding: 5px $content-padding 5px $content-padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative;
  box-shadow: 0px 0px 3px 0px #828282;
  z-index: 2;
  border-left: 1px solid $common-border-color;
  border-right: 1px solid $common-border-color;

  &.hidden {
    display: none;
  }

  &__profile {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;

    & .avatar {
      width: 40px;
      height: 40px;
      font-size: 16px;
    }
  }

  &__info {
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
  }

  &__title {
    font-weight: 500;
    font-size: 15px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__pinned {
    $ripple-padding: 7px 7px;

    flex: 1 0;
    min-width: 0; // To let it shrink when there is little space
    max-width: (250px + nth($ripple-padding, 2));

    &_ripple {
      padding: $ripple-padding;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color .2s ease;

      &:hover {
        background: rgba(#707579, 0.08);
      }
    }
  }

  &__actions {
    flex: none;
    display: flex;
    margin-right: -9px;
  }

  &__typing-indicator {
    font-size: 14px;
    color: #1DA1F1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 200px;

    &__content {
      color: #707579;
    }
  }

  &__context-menu {
    transform-origin: right top;
    position: absolute;
    right: 14px;
    top: 62px;
  }

  &__back {
    flex: none;
    margin: 0 8px 0 -9px;
    display: none;
  }

  @include respond-to(small) {
    &__back {
      display: flex;
    }

    &__search {
      display: none;
    }

    &__profile {
      max-width: calc(100% - 96px);
    }

    border-left: none;
    border-right: none;
  }
}
