@import '~styles/variables.scss';

.filtersScreen {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__head {
    flex: none;
  }

  &__body {
    flex: 1;
  }

  &__header {
    font-size: 15px;
    font-weight: 500;
    color: #707579;
    border-top: solid 1px $common-border-color;
    padding: 16px 16px 9px;
    margin-top: 7px;
  }
}
