.filterScreen {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__head {
    flex: none;
    position: relative;

    &_context-menu {
      position: absolute;
      right: 14px;
      top: 60px;
      transform-origin: right top;
    }
  }

  &__body {
    flex: 1;
  }

  &__header {
    font-size: 15px;
    font-weight: 500;
    color: #707579;
    padding: 21px 16px 8px;
  }
}
