@import '~styles/variables.scss';

.sidebarHeading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $main-header-height;
  padding: 0 0 0 12px;
  flex-shrink: 0;

  @include respond-to(small) {
    padding-left: 8px;
  }

  & h3 {
    flex: 1 50%;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 1.3rem;
  }

  &__icon-left {
    margin-right: 20px;
    flex-shrink: 0;

    @include respond-to(small) {
      margin-right: 8px;
    }
  }

  &__icon-right {
    margin-left: 6px;
    flex-shrink: 0;
  }
}
