.sidebarHeading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0 0 0 17.5px;
  flex-shrink: 0;

  & h3 {
    flex: 1 50%;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 1.3rem;
  }

  &__icon-left {
    margin-right: 20px;
    flex-shrink: 0;
  }

  &__icon-right {
    margin-left: 6px;
    flex-shrink: 0;
  }
}
