.opaco {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color .2s linear;
  z-index: 100;

  &.opened {
    display: flex;
    animation: popupFade .2s linear;
    background-color: rgba(0, 0, 0, .9);
  }

  &.opened.closing {
    background-color: rgba(0, 0, 0, 0);
    animation: none;
  }
}

.popup {
  &.fullscreen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}

@keyframes popupFade {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
}