
$user-bg-colors: (
  "1" #e36f74,
  "2" #fca76f,
  "3" #a693e9,
  "4" #78ca5c,
  "5" #6ac9cc,
  "6" #50a2e9,
  "7" #f078ae,
);

$break-small: 720px;
$break-medium: 1024px;
$break-widescreen: 1680px;
$common-border-color: #DADCE0;
$main-header-height: 56px;

@mixin respond-to($media) {
  @if $media == small {
    @media only screen and (max-width: $break-small) { @content; }
  }

  @if $media == medium {
    @media only screen and (max-width: $break-medium) and (min-width: $break-small + 1) { @content; }
  }

  @if $media == small-medium {
    @media only screen and (max-width: $break-medium) { @content; }
  }

  @if $media == desktop {
    @media only screen and (min-width: $break-medium + 1) { @content; }
  }

  @if $media == widescreen {
    @media only screen and (min-width: $break-widescreen) { @content; }
  }
}

@mixin safari-only() {
  // https://stackoverflow.com/a/25975282/1118709
  @media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
      @content;
    }
  }
}

@mixin scrollbar-width($width) {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;

    @include respond-to(small) {
      width: 1PX;
      height: 1px;
    }
  }
}

@mixin hide-scrollbar() {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

$content-padding: 20px;
$content-message-padding: 11px;
$bubble-max-width: 75%;
$bubble-background: #FFFFFF;
$accent-color: #1da1f1;
$voice-message-bar: #1da1f1;
$voice-message-bar-transparent: rgba(112, 117, 121, 0.35);
$accent-color-inactive: #707579;
$animation-sidebar: .3s ease-in-out;

// @include respond-to(small) {
//   $content-padding: 12px;
//   $content-message-padding: 3px;
//   $bubble-max-width: 80%;
// }
