
$user-bg-colors: (
  "1" #cc90e2,
  "2" #80d066,
  "3" #ecd074,
  "4" #6fb1e4,
  "5" #e57979,
  "6" #f98bae,
  "7" #73cdd0,
  "8" #fba76f,
);

$break-small: 720px;
$break-medium: 1024px;
$break-widescreen: 1680px;

@mixin respond-to($media) {
  @if $media == small {
    @media only screen and (max-width: $break-small) { @content; }
  }

  @if $media == medium {
    @media only screen and (max-width: $break-medium) and (min-width: $break-small + 1) { @content; }
  }

  @if $media == widescreen {
    @media only screen and (min-width: $break-widescreen) { @content; }
  }
}

@mixin safari-only() {
  // https://stackoverflow.com/a/25975282/1118709
  @media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
      @content;
    }
  }
}

@mixin scrollbar-width($width) {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
}

@mixin hide-scrollbar() {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
