@import '~styles/variables.scss';

.dialogsScreen {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #FFFFFF;
  height: 100%;
  position: relative;
  transition: transform .3s ease-out;

  &__head {
    width: 100%;
    flex: none;
    height: $main-header-height;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 $content-padding;
    position: relative;

    @include respond-to(small) {
      border-radius: 0;
      padding: 0 12px;
    }

    &_button {
      flex: none;
      margin: 0 12px 0 -8px;

      @include respond-to(small) {
        margin-left: 0px;
      }
    }

    &_search {
      flex: 1;
    }
  }

  &__body {
    flex: 1;
    position: relative;
  }

  &__layer {
    $transition-scale: 1.1;
    $transition-duration: 160ms;
    $transition-timing: ease-in-out;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all $transition-duration $transition-timing;
    will-change: transform, opacity;

    &.-down {
      opacity: 0;
      transform: scale(#{1 / $transition-scale});
      pointer-events: none;
    }

    &.-up {
      opacity: 0;
      transform: scale($transition-scale);
      pointer-events: none;
    }

    &.-appearFromUp {
      animation: leftSidebarAppearFromUp $transition-duration $transition-timing;
    }

    @keyframes leftSidebarAppearFromUp {
      from {
        opacity: 0;
        transform: scale($transition-scale);
      }
    }
  }

  &__button-menu {
    position: absolute;
    top: 60px;
    left: $content-padding - 6px;
  }

  &__new-message-menu {
    position: absolute;
    bottom: $content-padding + 60px;
    right: $content-padding;
    transform-origin: bottom right;
  }

  &__write {
    position: absolute;
    right: $content-padding;
    bottom: $content-padding;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: #1da1f1;
    border-radius: 100%;
    cursor: pointer;
    border: 6px solid #FFFFFF;
    transition: .3s cubic-bezier(0.42, 0, 0.49, 1.34);
    transform: translate(6px, 81px);

    & path {
      fill: #FFFFFF;
    }

    @include respond-to(small) {
      transform: translate(6px, 6px);
    }
  }

  &:hover &__write {
    transform: translate(6px, 6px);
  }
}
