@import '~styles/variables.scss';

.infoSidebar {
  position: relative;
  height: 100%;
  overflow: auto;
  @include hide-scrollbar();

  &__context-menu {
    position: fixed;
    right: 14px;
    top: 60px;
    transform-origin: right top;
  }

  &__panels {
    flex: 1 50%;
  }

  & .tabs-panel {
    height: calc(100% - 60px);
  }

  & .sidebarHeading {
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    z-index: 1;
  }
}