.typingIndicator {
  &__typing {
    position: relative;
  }

  &__typing::after {
    overflow: hidden;
    position: absolute;
    left: 100%;
    animation: ellipsis 1.5s steps(4, end) infinite;
    content: '...';
    width: 0;

    @keyframes ellipsis {
      to {
        width: 15px;
      }
    }
  }

}
