.message {
  position: relative;
  font-size: 15px;

  &__wrapper {
    background: #FFFFFF;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    position: relative;
    box-shadow: 0px 1px 2px 0px rgba(16, 35, 47, 0.15);
    z-index: 1;
    width: auto;
    float: left;
    max-width: 600px;
    overflow: hidden;
  }

  &__content {
    padding: 5PX;
  }

  &__corner {
    position: absolute;
    left: -9PX;
    width: 11PX;
    bottom: -1PX;
    height: 20PX; 
    z-index: 2;

    &-shadow {
      position: absolute;
      left: -9PX;
      width: 11PX;
      bottom: -3PX;
      z-index: 0;
    }
  }

  &__text {
    padding: 0PX 5PX;
  }

  &.out &__wrapper {
    background: #EEFFDE;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 10px;
    float: right;
  }

  &.out &__corner {
    transform: scaleX(-1);
    left: auto;
    right: -9PX;

    &-shadow {
      transform: scaleX(-1);
      left: auto;
      right: -9PX;
    }

    & #corner-fill {
      fill: #EEFFDE;
    }
  }
}
