.phoneinput {
  border: 1px solid transparent;
  border-radius: 11px;
  transition: border-color .2s ease;

  &__container {
    position: relative;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 1rem 0 1rem 14px;
    height: 48px;
    width: 100%;
    border: 1px solid #DEE0E3;
    border-radius: 10px;
    transition: border-color .2s ease;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &.focused {
    border-color: #4EA4F5;
  }

  &.focused &__container {
    border-color: #4EA4F5;
  }

  &__label {
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 12px;
    top: -10px;
    left: 12px;
    height: 20px;
    padding: 0 3px;
    border-radius: 10px;
    color: #A2ACB4;
    background: #FFFFFF;
    transition: .2s ease-out;
    user-select: none;
    z-index: 1;
  }

  &__prefix {
    line-height: 135%;
  }

  &.focused &__label {
    color: #4EA4F5;
  }

  & input {
    appearance: none;
    outline: none;
    background: transparent;
    border: none;
    padding: 1rem 14px 1rem 10px;
    height: 44px;
    flex: 0 100%;
    line-height: 135%;
    letter-spacing: 0.5px;
    font-size: 1rem;

    &:focus {
      outline: none;
    }
  }
}
