.list {
  position: relative;
  height: 100%;
  display: flex;
  overflow: hidden;

  &__scroll-pane {
    position: absolute;
    width: 100%;

    > * {
      top: 0;
      position: absolute;
      width: 100%;
      will-change: transform;
      transform: translateY(0);
      // transition: transform 0.2s ease-in-out;
    }
  }

  &__elements-batch {
    position: absolute;
    width: 100%;
  }
}
