.button {
  appearance: none;
  border: none;
  font-size: 1rem;
  margin: 0;
  height: 48px;
  width: 100%;
  background: #4EA4F5;
  color: #FFFFFF;
  text-align: center;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s ease;
  outline: none;
  cursor: pointer;

  &:hover, &:focus {
    background: #4797E2;
    outline: none;
  }
}
