.button {
  height: 48px;
  width: 100%;
  background: #4EA4F5;
  color: #FFFFFF;
  text-align: center;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s ease;
  cursor: pointer;

  &:hover {
    background: #4797E2;
  }
}