.passwordInput {
  position: relative;

  & &__input {
    padding-right: 43px;
  }

  &__toggle {
    &_show,
    &_hide {
      $size: 24px;
      width: $size;
      height: $size;
      position: absolute;
      top: calc(50% - #{$size / 2});
      right: 13px;
      z-index: 10;
      cursor: pointer;
      user-select: none; // To prevent text selection on continuous clicking

      path {
        fill: #8d969c;
      }
    }

    &_show {
      display: none;
    }
  }

  &.-hidden &__toggle_show {
    display: block;
  }

  &.-hidden &__toggle_hide {
    display: none;
  }
}
