.poll {
  user-select: none;
  max-width: 300px;
  &__question {
    font-weight: 500;
  }

  & &__info {
    display: flex;
    align-items: center;
  }

  & &__type {
    color: var(--accent-color-inactive);
    font-size: 0.9rem;
  }

  & &__recent-voters {
    padding-left: 8px;
    display: flex;
  }

  & &__avatar-wrapper {
    position: relative;
    width: 13px;
    height: 18px;
    .avatar {
      position: absolute;
      width: 18px;
      height: 18px;
      min-width: 18px;
      min-height: 18px;
      border: 1px solid var(--bubble-background);
    }
    .avatar.-standard {
      font-size: 0.6rem;
    }
  }

  & &__voters {
    color: var(--accent-color-inactive);
    font-size: 0.9rem;
  }

  & &__vote-button {
    text-align: center;    
    color: var(--accent-color);
    transition: color 0.3s;
    transform: translateY(10px);
    cursor: pointer;
  }

  & &__vote-button.-inactive {
    color: var(--accent-color-inactive);
    cursor: default;
  }
}
