.pollOption.-correct {
  --color: #00da00;
}

.pollOption.-incorrect {
  --color: red;
}

.pollOption {
  display: grid;
  grid-template-columns: 40px auto;
  width: 300px;
  margin-top: 10px;

  path {
    stroke: var(--color);
  }

  &__text {
    grid-column: 2;
    margin: auto 0 12px 8px;
  }

  &__percentage {
    grid-row: 1;
    grid-column: 1;
    margin: auto 0 12px 0;
    font-weight: bold;
    text-align: center;
    transition: opacity 0.3s;
    opacity: 0;
    justify-self: end;
    cursor: default;
  }

  &__checkbox {
    grid-row: 1;
    grid-column: 1;
    margin: auto;
    margin-bottom: 10px;
    transition: opacity 0.3s;
  }

  &__answer {
    background-color: var(--color, var(--accent-color));
    border-radius: 100%;
    grid-row: 1;
    grid-column: 1;
    width: 12px;
    height: 12px;
    align-self: end;
    justify-self: end;
    display: grid;
    align-items: center;
    justify-items: center;
    opacity: 1;
    transition: opacity 0.3s 0.2s;

    svg {
      width: 10px;
      height: 10px;

      path {
        fill: white;
        stroke: white;
        stroke-width: 1;
      }
    }
  }

  &__answer.-hidden {
    opacity: 0;
  }

  &__line {
    grid-row: 1;
    grid-column: 1 / 2;
    align-self: end;
    opacity: 0;
    transition: opacity 0.1s;
    width: 300px;
    height: 30px;

    path {
      stroke: var(--color, var(--accent-color));
      stroke-width: 4px;
      stroke-linecap: round;
      fill: none;
      stroke-dasharray: 0 25 263 1000;
      stroke-dashoffset: 1;
    }
  }

  &__checkbox.-answered {
    opacity: 0;
    pointer-events: none;
  }

  &__percentage.-answered {
    opacity: 1;
  }

  &__line.-answered {
    opacity: 1;
  }

  .checkbox__input:checked+.checkbox__box {
    border-color: var(--accent-color);
    background: var(--accent-color);
  }
}
