.pollCountdown {
  color: var(--accent-color-inactive);
  display: flex;
  align-items: center;

  svg {
    margin-left: 8px;
  }

  circle {
    rotate: -90deg;
    fill: none;
    stroke-width: 2px;
    stroke: var(--accent-color-inactive);
    transform: rotate(-90deg);
    transform-origin: center;
  }

  &.-hurry-up {
    color: red;

    circle {
      stroke: red;
    }
  }
}
