.menu {
  height: 61px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  cursor: not-allowed;

  &__burger {
    padding: 6PX;
    margin-right: 16px;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: not-allowed;

    &_icon {
      width: 24PX;

      path {
        fill: #707579;
      }
    }
  }

  &__search {
    flex: 1 50%;
    height: 44px;
    padding: 0 12px;
    background-color: #F4F4F5;
    color: #8D969C;
    border-radius: 22px;
    cursor: not-allowed;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &_icon {
      width: 24px;
      height: 24px;
      margin-right: 6px;
      flex: none;

      path {
        fill: #8D969C;
      }
    }
  }
}
