.menu {
  height: 61px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  cursor: not-allowed;

  > * {
    pointer-events: none;
  }

  &__burger {
    flex: none;
    margin: 0 12px 0 -8px;
  }

  &__search {
    flex: 1 50%;
  }
}
