@import '~styles/variables.scss';

// CSS API variables: --initials-font-size

.avatar {
  min-width: 30px;
  min-height: 30px;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;

  &.-standard {
    color: #FFFFFF;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--initials-font-size, 20px);
    text-transform: uppercase;

    @each $i, $color in $user-bg-colors {
      &.-color-#{$i} {
        background-color: $color;
      }
    }
  }

  &.-predefined {
    background: #65AADD;
    display: flex;
    justify-content: center;
    align-items: center;

    svg path {
      fill: white;
    }
  }

  &.-picture {
    // animation: avatarAppeared .3s ease;
    background: rgba(#7f7f7f, 0.15);

    img {
      width: 100%;
      height: 100%;
    }
  }
}

@keyframes avatarAppeared {
  from {
    opacity: 0;
  }
}
