@import '~styles/variables.scss';

.bubble {
  position: relative;
  --bubble-background: #ffffff;
  min-height: 30PX;

  &.last {
    margin-left: -7PX;
  }

  &.last.out {
    margin-left: 0;
    margin-right: -7PX;
  }

  &.last.masked &__content>* {
    margin-left: 7PX;
  }

  &.last.masked &__content>.raw {
    margin-left: 0;
  }

  &.last.out.masked &__content>* {
    margin-left: 0;
    margin-right: 7PX;
  }

  &.last.out.masked &__content>.raw {
    margin-right: 0;
  }

  &__shadow {
    display: block;
    position: absolute;
    top: -10PX;
    left: -10PX;
    right: -10PX;
    bottom: -10PX;
    border-style: solid;
    border-width: 25PX;
    z-index: -1;
    border-image: url(~assets/message_in-central@2x.png) 49 49 49 49 fill;
  }

  & &__background {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: var(--bubble-background);
    z-index: -1;
  }

  & &__background,
  & &__content {
    border-radius: 6PX 12.5PX 12.5PX 6PX;
  }

  &.first &__background,
  &.first &__content {
    border-top-left-radius: 12.5PX;
  }

  &.last &__background,
  &.last &__content {
    border-bottom-left-radius: 0;
  }

  &.last &__background::after {
    position: absolute;
    left: -7PX;
    width: 7PX;
    bottom: 0;
    height: 17PX;
    z-index: 2;
    content: '';
    background-image: url(~assets/message_corner@2x.png);
    background-size: 100%;
  }

  &.out &__background,
  &.out &__content {
    border-radius: 12.5PX 6PX 6PX 12.5PX;
  }

  &.first.out &__background,
  &.first.out &__content {
    border-top-right-radius: 12.5PX;
  }

  &.last.out &__background,
  &.last.out &__content {
    border-bottom-right-radius: 0;
  }

  &.last.out &__background::after {
    background-image: url(~assets/message_corner-out@2x.png);
    left: auto;
    right: -7PX;
  }

  // masks
  &:not(.last) &__content,
  &:not(.masked) &__content {
    overflow: hidden;
  }

  &.last.masked &__content {
    margin-left: -7PX;
    mask-border: url("data:image/svg+xml;charset=utf-8,<svg width='37' height='30' viewBox='0 0 37 30' xmlns='http://www.w3.org/2000/svg'><path d='M 12.5 0 a 12.5 12.5 0 0 0 -12.5 12.5 v 5 a 12.5 12.5 0 0 0 12.5 12.5 h 17.5      h 6 c 0.281 0 0.548 -0.118 0.737 -0.325 c 0.373 -0.407 0.345 -1.04 -0.062 -1.413 q -3.269 -2.994 -4.626 -6.48 c -1.173 -3.016 -1.857 -5.943 -2.05 -8.782 v -7     a 6 6 0 0 0 -6 -6 z'/></svg>") 0 0 0 0;
  }

  &.first.last.masked &__content {
    mask-border: url(~assets/bubble_in-whole@2x.png) 29 29 29 44;
  }

  &.out.last.masked &__content {
    margin-left: 0;
    margin-right: -7PX;
    // mask-border: url("data:image/svg+xml;charset=utf-8,<svg width='74' height='74' viewBox='0 0 111 111' xmlns='http://www.w3.org/2000/svg'><path d='M 37.5 0 a 37.5 37.5 0 0 0 -37.5 37.5 v 36 a 37.5 37.5 0 0 0 37.5 37.5 h 52.5      h 18 c 0.8430000000000001 0 1.6440000000000001 -0.354 2.211 -0.9750000000000001 c 1.119 -1.2209999999999999 1.035 -3.12 -0.186 -4.239 q -9.807 -8.982000000000001 -13.878 -19.44 c -3.519 -9.048 -5.571 -17.829 -6.1499999999999995 -26.346 v -42     a 18 18 0 0 0 -18 -18 z'/></svg>") 29 44 29 29;
  }

  &.out.first.last.masked &__content {
    // mask-border: url(~assets/bubble_out-whole@2x.svg) 29 44 29 29;
  }

  // shadows
  &.first &__shadow {
    border-image: url(~assets/message_in-upper@2x.png) 49 49 49 49 fill;
  }

  &.last &__shadow {
    border-image: url(~assets/message_in-lower@2x.png) 49 49 49 49 fill;
  }

  &.first.last &__shadow {
    border-image: url(~assets/message_in-whole@2x.png) 49 49 49 49 fill;
  }

  &.out &__shadow {
    border-image: url(~assets/message_out-central@2x.png) 49 49 49 49 fill;
  }

  &.out.first &__shadow {
    border-image: url(~assets/message_out-upper@2x.png) 49 49 49 49 fill;
  }

  &.out.last &__shadow {
    border-image: url(~assets/message_out-lower@2x.png) 49 49 49 49 fill;
  }

  &.out.first.last &__shadow {
    border-image: url(~assets/message_out-whole@2x.png) 49 49 49 49 fill;
  }

  &.out {
    --bubble-background: #eeffde;
    --accent-color: #4fae4f;
    --accent-color-inactive: #4fae4f;
    --voice-message-bar: rgb(79, 174, 79);
    --voice-message-bar-transparent: rgba(79, 174, 79, 0.5);
  }

  &__content {
    display: flex;
    flex-direction: column;
    z-index: 0;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    // &.last.masked &__content {
    //   mask-border: url(~assets/bubble_in-last@3x.png) 44 44 44 66;
    // }

    // &.first.last.masked &__content {
    //   mask-border: url(~assets/bubble_in-whole@3x.png) 44 44 44 66;
    // }

    &.out.last.masked &__content {
      mask-border: url(~assets/bubble_out-last@2x.svg) 29 44 29 29;
    }

    &.out.first.last.masked &__content {
      mask-border: url(~assets/bubble_out-whole@2x.svg) 29 44 29 29;
    }
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 3),
  only screen and (min--moz-device-pixel-ratio: 3),
  only screen and (-o-min-device-pixel-ratio: 3/1),
  only screen and (min-device-pixel-ratio: 3),
  only screen and (min-resolution: 288dpi),
  only screen and (min-resolution: 3dppx) {
    // &.last.masked &__content {
    //   mask-border: url(~assets/bubble_in-last@3x.png) 44 44 44 66;
    // }

    // &.first.last.masked &__content {
    //   mask-border: url(~assets/bubble_in-whole@3x.png) 44 44 44 66;
    // }

    // &.out.last.masked &__content {
    //   mask-border: url(~assets/bubble_out-last@3x.png) 44 66 44 44;
    // }

    &.out.first.last.masked &__content {
      mask-border: url("~assets/bubble_out-whole@3x.svg") 45 65 45 45;
    }
  }
}
