// CSS API variables: --accent-color

.quote {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 1.2;

  &::before {
    content: '';
    flex: none;
    align-self: stretch;
    width: 2px;
    border-radius: 1px;
    background: var(--accent-color, #4EA4F5);
    margin-right: 7px;
  }

  &__content {
    min-width: 0;
    flex: auto;
  }

  &__title {
    color: var(--accent-color, #4EA4F5);;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: -2px 0 0;
  }

  &__message {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 3px 0 -1px;
  }

  &__img {
    flex: none;
    border-radius: 3px;
    width: 32px;
    height: 32px;
    margin-left: -3px;
    object-fit: cover;
    overflow: hidden;
    margin-right: 8px;
  }
}
