.bubble2 {
  position: relative;
  min-height: 36PX;
  min-width: 44PX;
  overflow: hidden;
  padding: 0PX 2PX 3PX 9PX;

  & > * {
    z-index: 1;
    position: relative;
  }

  &__background {
    position: absolute !important;
    z-index: 0 !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-style: solid;
    border-left-width: 25PX;
    border-top-width: 16PX;
    border-right-width: 18PX;
    border-bottom-width: 19PX;
    border-color: transparent;
    border-image: url(./images/bubble_in-central.png) 32 36 38 50 fill;
    padding-left: 7PX;
  }

  &.-first &__background {
    border-image: url(./images/bubble_in-first.png) 32 36 38 50 fill;
  }

  &.-last &__background {
    border-image: url(./images/bubble_in-last.png) 32 36 38 50 fill;
  }

  &.-first.-last &__background {
    border-image: url(./images/bubble_in-first-last.png) 32 36 38 50 fill;
  }

  &.-out {
    padding: 0PX 9PX 3PX 2PX;
  }

  &.-out &__background {
    border-left-width: 18PX;
    border-right-width: 25PX;
    border-image: url(./images/bubble_out-central.png) 32 50 38 36 fill;
  }

  &.-out.-first &__background {
    border-image: url(./images/bubble_out-first.png) 32 50 38 36 fill;
  }

  &.-out.-last &__background {
    border-image: url(./images/bubble_out-last.png) 32 50 38 36 fill;
  }

  &.-out.-first.-last &__background {
    border-image: url(./images/bubble_out-first-last.png) 32 50 38 36 fill;
  }

  &.-media {
    padding-left: 2px;
    mask-border: url(./images/mask_in-central.png) 32 36 38 50 / 16PX 18PX 19PX 25PX stretch;
  }

  &.-media.-first {
    mask-border: url(./images/mask_in-first.png) 32 36 38 50 / 16PX 18PX 19PX 25PX stretch;
  }

  &.-media.-last {
    mask-border: url(./images/mask_in-last.png) 32 36 38 50 / 16PX 18PX 19PX 25PX stretch;
  }

  &.-media.-first.-last {
    mask-border: url(./images/mask_in-first-last.png) 32 36 38 50 / 16PX 18PX 19PX 25PX stretch;
  }

  &.-media.-out {
    padding-right: 2px;
    mask-border: url(./images/mask_out-central.png) 32 50 38 36 / 16PX 25PX 19PX 18PX stretch;
  }

  &.-media.-out.-first {
    mask-border: url(./images/mask_out-first.png) 32 50 38 36 / 16PX 25PX 19PX 18PX stretch;
  }

  &.-media.-out.-last {
    mask-border: url(./images/mask_out-last.png) 32 50 38 36 / 16PX 25PX 19PX 18PX stretch;
  }

  &.-media.-out.-first.-last {
    mask-border: url(./images/mask_out-first-last.png) 32 50 38 36 / 16PX 25PX 19PX 18PX stretch;
  }

}
