.roundButton {
  position: relative;
  appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  color: #707579;
  background: transparent;
  text-align: center;
  border-radius: 50%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  cursor: pointer;

  svg {
    width: 24px;
    height: 24px;
  }
  path {
    fill: currentColor;
  }

  &:hover {
    background: rgba(#707579, 0.08);
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    background: transparent;
  }

  &__content {
    display: inline-flex;
  }

  &__spinner {
    $size: 27px;
    display: none;
    position: absolute;
    width: $size;
    height: $size;
    top: calc(50% - #{$size / 2});
    right: 13px;
    color: #fff;
  }

  &.loading {
    padding-left: 45px;
    padding-right: 45px;
  }

  &.loading &__spinner {
    display: block;
  }

  &.-accent {
    color: #4EA4F5;
  }

  &.-danger {
    color: #df3f40;
  }
}
