.roundButton {
  position: relative;
  appearance: none;
  border: none;
  margin: 0;
  width: 33px;
  height: 33px;
  color: #707579;
  background: transparent;
  text-align: center;
  border-radius: 50%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s ease;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;

  svg {
    width: 24px;
    height: 24px;
  }
  path {
    fill: #707579
  }

  &:hover {
    background: rgba(0, 0, 0, .05);
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    background: transparent;
  }

  & .ripple__content {
    display: inline-flex;
  }

  &__spinner {
    $size: 27px;
    display: none;
    position: absolute;
    width: $size;
    height: $size;
    top: calc(50% - #{$size / 2});
    right: 13px;

    circle {
      stroke: #FFFFFF;
    }
  }

  &.loading {
    padding-left: 45px;
    padding-right: 45px;
  }

  &.loading &__spinner {
    display: block;
  }
}
