@import '~styles/variables.scss';

.sidebar {
  max-width: 420px;
  min-width: 360px;
  min-height: 0;
  max-height: 100%;
  background-color: #FFFFFF;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-right: 1px solid #EDEEF0;

  @include respond-to(small) {
    width: 100%;
    max-width: 100%;
  }

  &.-poping-state .sidebarWrapper {
    &:last-child {
      background-color: rgba(0, 0, 0, 0);
    }
    &:nth-last-child(2) .sidebarWrapper__content {
      transform: translate(0, 0);
    }
    & .sidebarWrapper__content {
      transform: translate(100%, 0);
    }
  }

  & .sidebarHeading {
    padding-left: 14px;
  }
}
