.video-preview {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &__duration {
    position: absolute;
    left: 5px;
    top: 5px;
    background: rgba(0,0,0,.5);
    color: #fff;
    display: inline-block;
    padding: 4px 6px 3px;
    border-radius: 16px;
    z-index: 2;
    font-size: 11px;
    line-height: 1;
  }

  &__playbtn, &__downloadbtn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0,0,0,.5);
    background-image: url(~assets/play-button@2x.png);
    background-position: 55% center;
    background-repeat: no-repeat;
    background-size: 15PX auto;
    border-radius: 25px;
    z-index: 2;
  }

  &__downloadbtn {
    background-image: url(~assets/download-button@2x.png);
    background-size: 18PX auto;
    background-position: center;
  }

  &__thumb.-playing {
    position: absolute;
    z-index: 0;
  }

  &__player {
    position: relative;
    z-index: 1;
  }
}