.header {
  background: #FFFFFF;
  height: 62px;
  border-bottom: 1px solid #EDEEF0;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  &.hidden {
    display: none;
  }

  &__profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    & .avatar {
      width: 46px;
      height: 46px;

      &__standard {
        font-size: 16px;
      }
    }
  }

  &__info {
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &__title {
    font-weight: 500;
    font-size: 15px;
  }
}
