.dialog {
  width: 100%;
  padding: 0px 8px;
  background: #FFFFFF;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;


  &__wrapper {
    height: 75px;
  }

  &__wrapper.lastpin {
    height: 81px;
  }

  &__wrapper.lastpin .dialog {
    border-bottom-color: #EDEEF0;
    padding-bottom: 4px;
  }

  &__wrapper:last-child .dialog {
    padding-bottom: 0px;
  }

  &__clickable {
    padding: 9PX;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    background-color: #FFFFFF;
    transition: background-color .2s ease;

    &:hover, &.-selected {
      background-color: #F1F3F4;
    }

    & .ripple__content {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 54px;
    }
  }

  &__picture {
    width: 54px;
    height: 54px;
    position: relative;

    .avatar {
      width: 100%;
      height: 100%;
    }
  }

  &__status {
    position: absolute;
    width: 14PX;
    height: 14PX;
    border-radius: 50%;
    display: none;
    background-color: #05C630;
    border: 2PX solid #FFFFFF;
    right: 2px;
    bottom: 0px;

    &.online {
      display: block;
    }
  }

  &__content {
    padding-left: 10px;
    flex: 1 50%;
    max-width: calc(100% - 55px);
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start,
  }

  &__title {
    color: #000000;
    font-weight: 500;
    font-size: 15px;
    line-height: 190%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__date {
    font-size: 12px;
    font-weight: 300;
    padding-left: 15px;
    color: #5F6369;
    margin-top: 3px;
  }

  &__preview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__message {
    color: #707579;
    font-weight: 300;
    font-size: 15px;
    overflow: hidden;
    margin-bottom: 4px;
    line-height: 150%;
    position: relative;
    flex: 1 50%;
    word-break: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  &__badge {
    background-color: #4CCD5E;
    color: #FFFFFF;
    padding: 0 7PX;
    height: 22PX;
    min-width: 22PX;
    line-height: 22px;
    font-size: 12PX;
    font-weight: 500;
    border-radius: 11PX;
    text-align: center;
    margin-left: 10px;

    &.muted {
      background-color: #C4C9CC;
    }
  }

  &__pin {
    background-color: #C4C9CC;
    height: 22PX;
    width: 22PX;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    & .icon path {
      fill: #FFFFFF;
    }
  }
}

.dialog__picempty {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #4797E2;
}
