.photo {
  position: relative;
  max-width: 320px;
  max-height: 320px;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &.landscape {
    width: 320px;
    min-height: 48px;
    
    img {
      width: 320px;
      vertical-align: bottom;
      display: block;
    }
  }

  &.portrait {
    height: 320px;
    min-width: 100px;
    
    img {
      height: 320px;
    }
  }

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    opacity: .3;
  }

  &__loader {
    position: absolute;
    left: calc(50% - 24px);
    top: calc(50% - 24px);
    right: auto;
    height: auto;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.2);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 30px;
      height: 30px;

      circle {
        stroke: #FFFFFF;
      }
    }
  }

  &__thumbnail {
    overflow: hidden;

    img {
      filter: blur(12px);
    }

    &.removed {
      position: absolute;
      animation: thumbRemoved .4s ease;
    }
  }

  &__preview {
    cursor: pointer;
    overflow: hidden;
    animation: previewAppear .4s ease;
  }
}

@keyframes previewAppear {
  from {
    opacity: 0;
  }
}

@keyframes thumbRemoved {
  to {
    opacity: 0;
  }
}