// CSS API variables: --icon-size

.menuAndBackIcon {
  display: inline-block;
  font-size: 24px;
  line-height: 1;
  width: 1em;
  height: 1em;
  position: relative;
  transition: none 160ms ease-in-out;

  * {
    transition-duration: inherit;
    transition-timing-function: inherit;
  }

  > span {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: rotate(-180deg);
    transition-property: transform, transform; // The first value is ignored in Safari in this element. If the repeat is removed, the animation will break.

    > em {
      position: absolute;
      top: 0;
      left: (3/24 + em);
      right: (3/24 + em);
      height: 0.08333333333em; // 2/24 with high precision (a hack for a perfect pixel render on every size)
      border-radius: (1/24 + em);
      background: currentColor;
      transform-origin: (1/24 + em) (1/24 + em);
      transition-property: transform;

      &:nth-child(1) {
        transform: translateY(6/24 + em);
      }

      &:nth-child(2) {
        transform: translateY(11/24 + em);
      }

      &:nth-child(3) {
        transform: translateY(16/24 + em);
      }
    }
  }

  &.-back {
    > span {
      transform: rotate(0);

      > em {
        &:nth-child(1) {
          transform: translateY(11/24 + em) rotate(-45deg) scaleX(0.707 /* ≈ 1 / √2 */);
        }

        &:nth-child(2) {
          transform: translateY(11/24 + em) rotate(0.1deg); // A tiny rotate is a hack for a perfect pixel render on every size
        }

        &:nth-child(3) {
          transform: translateY(11/24 + em) rotate(45deg) scaleX(0.707 /* ≈ 1 / √2 */);
        }
      }
    }
  }
}
