.menuAndBackIcon {
  transition: none 160ms ease-in-out;

  * {
    transition-duration: inherit;
    transition-timing-function: inherit;
  }

  rect {
    fill: currentColor;
    transition-property: width, transform;
  }

  g {
    transform: rotate(-180deg);
    transform-origin: 50% 50%;
    transition-property: transform, transform; // The first value is ignored in Safari in this element. If the repeat is removed, the animation will break.
  }

  &.-back {
    g {
      transform: rotate(0);
    }

    rect {
      &:nth-child(1) {
        width: 11.9PX; // ≈ initial length - 2 (thickness) * √2 + 2 (thickness)
        transform: translate(0, 5PX) rotate(-45deg);
      }

      &:nth-child(3) {
        width: 11.9PX;
        transform: translate(0, -5PX) rotate(45deg);
      }
    }
  }
}
