.pollResultsPopup {
  min-width: 400px;
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  overflow: auto;

  &__loading {
    width: 30px;
    height: 30px;
    color: #4ea4f5;
  }

  &__question {
    font-weight: 500;
    font-size: 1.1em;
  }
}
