.pollResultOption {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.04);
  margin-top: 8px;
  padding: 8px;

  &__header {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  &__voters-list {
    display: flex;
    flex-direction: column;
  }

  &__voter {
    display: flex;
    align-items: center;
    margin-top: 10px;

    .avatar {
      max-width: 25px;
      max-height: 25px;
    }
  }

  &__voter-name {
    margin-left: 10px;
  }
}
