@import '~styles/variables.scss';

.message {
  font-size: 15px;
  width: auto;
  max-width: 740px;
  margin-right: auto;
  padding: 2.5px 20px;

  &.out {
    margin-left: auto;
    margin-right: 0;
  }

  &__inner {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: -10px;
      right: -10px;
      bottom: -10px;
      border-style: solid;
      border-width: 25px;
      z-index: -1;
    }
  }

  &.last &__inner::after {
    position: absolute;
    left: -9px;
    width: 11px;
    bottom: -1px;
    height: 20px; 
    z-index: 2;
    content: '';
    background-image: url(~assets/message_corner.svg);
    background-size: 100%;
  }

  &.out.last &__inner::after {
    background-image: url(~assets/message_corner-out.svg);
    left: auto;
    right: -9px;
  }
  
  &.chat.last &__inner {
    margin-left: 34px;
  }

  & .avatar {
    width: 33px;
    height: 33px;
    position: absolute;
    left: -38px;
    bottom: 0;
  }

  & .avatar__standard {
    font-size: 12px;
  }
  &.with-media &__baloon, &.with-media .photo {
    width: 320px !important;
  }

  &__content {
    padding: 5PX;
  }

  &__text {
    padding: 0PX 5PX;
    font-size: 15px;
    white-space: pre-wrap;
    overflow-wrap: break-word;

    &:after {
      content: '';
      display: inline-block;
      width: 30px;
    }

    &.fallback {
      font-size: 14px;
      font-style: italic;
      color: #707579;
      line-height: 180%;
    }

    & a {
      color: #50A2E9;
      text-decoration: none;
    }
  }

  &__date {
    position: absolute;
    font-size: 11px;
    color: #A3ADB6;
    font-weight: 400;
    right: 4PX;
    bottom: 1PX;
  }

  &.chat {
    padding-left: 54px;
  }

  &.chat code {
    color: #4E7391;
  }

  & pre {
    display: inline;
    white-space: pre-line;
    margin: 0;
  }

  &.chat pre {
    color: #4e7391;
  }

  & .avatar {
    margin-right: 4px;
    display: none;
  }

  &.last, &:last-child {
    padding-left: 20PX;

    & .avatar {
      display: block;
    }
  }

  &__title {
    font-size: 14px;
    font-weight: 500;
    color: #1DA1F1;
    line-height: 150%;
    display: none;

    @each $i, $color in $user-bg-colors {
      &.color-#{$i} {
        color: $color;
      }
    }
  }

  &.first &__title, &:first-child &__title {
    display: block;
  }

  &.out &__title {
    display: none;
  }

  &.out code {
    color: #469165;
  }

  &.out pre {
    color: #469165;
  }

  &.out &__date {
    color: #54B152;
  }

  &.media &__inner, &.media.out &__inner, &.as-emoji &__inner {
    background: transparent;
  }

  &.last.media &__inner:after, &.last.media.out &__inner:after, &.last.as-emoji &__inner:after { 
    display: none;
  }

  &.media &__inner:before, &.media.out &__inner:before, &.as-emoji &__inner:before {
    display: none;
  }

  &__inner::before {
    border-image: url(~assets/message_in-central@2x.png) 49 49 49 49 fill;
  }
  &.first &__inner::before {
    border-image: url(~assets/message_in-upper@2x.png) 49 49 49 49 fill;
  }
  &.last &__inner::before {
    border-image: url(~assets/message_in-lower@2x.png) 49 49 49 49 fill;
  }
  &.first.last &__inner::before {
    border-image: url(~assets/message_in-whole@2x.png) 49 49 49 49 fill;
  }
  &.out &__inner::before {
    border-image: url(~assets/message_out-central@2x.png) 49 49 49 49 fill;
  }
  &.out.first &__inner::before {
    border-image: url(~assets/message_out-upper@2x.png) 49 49 49 49 fill;
  }
  &.out.last &__inner::before {
    border-image: url(~assets/message_out-lower@2x.png) 49 49 49 49 fill;
  }
  &.out.first.last &__inner::before {
    border-image: url(~assets/message_out-whole@2x.png) 49 49 49 49 fill;
  }

  &__baloon {
    border-radius: 6px;
    background: #FFFFFF;
    overflow: hidden;
  }

  & &__baloon {
    border-radius: 6px 12.5px 12.5px 6px;
  }
  
  &.first &__baloon {
    border-top-left-radius: 12.5px;
  }
  
  &.last &__baloon {
    border-bottom-left-radius: 0;
  }
  
  &.out &__baloon {
    background: #EEFFDE;
    border-radius: 12.5px 6px 6px 12.5px;
  }
  
  &.out.first &__baloon {
    border-top-right-radius: 12.5px;
  }
  
  &.out.last &__baloon {
    border-bottom-right-radius: 0;
  }
  
  &.last.media &__baloon {
    border-bottom-left-radius: 12.5px;
    border-bottom-right-radius: 12.5px;
  }
}
