.msgservice {
  text-align: center;

  &__wrapper {
    padding-bottom: 10px;
  }

  &__inner {
    display: inline-block;
    margin: 0 auto;
    width: auto;
    max-width: 70%;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.08);
    height: 26px;
    border-radius: 13px;
    line-height: 20px;
    padding: 3px 10px;
  }

  strong {
    font-weight: 500;
  }
}