.reply-markup {

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
  } 

  &__button {
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;
    height: 38px;
    flex: 1 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    margin-right: 2px;
    font-size: 14px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    overflow: hidden;
  
    .ripple__effect {
      background-color: rgba(0, 0, 0, 0.1);
    }
  
    &:last-child {
      margin-right: 0;
    }

    &.-external::before {
      content: '';
      background: url('~assets/reply_button_url@2x.png') top left / cover no-repeat;
      position: absolute;
      top: 2px;
      right: 2px;
      width: 12px;
      height: 12px;
    }

    &.-share::before {
      content: '';
      background: url('~assets/reply_button_forward@2x.png') top left / cover no-repeat;
      position: absolute;
      top: 2px;
      right: 2px;
      width: 12px;
      height: 12px;
    }
  }
}
