
.tabs-panel {
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  display: flex;

  &__header {
    flex: none;
    height: 44px;
    display: flex;
    border-bottom: 1px solid #dedfe2;
    width: 100%;

    &.-center {
      justify-content: center;
    }

    &.-space-between {
      justify-content: space-between;
    }
  }

  &__tab {
    $transition-duration: 0.2s;

    display: flex;
    justify-content: center;
    color: #7b8083;
    padding: 0 26px;
    margin: 0 0 -1px;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    transition: all $transition-duration;

    &_content {
      display: flex;
      align-items: center;
      text-align: center;
      position: relative;
      font-weight: 500;
      font-size: 14px;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -12px;
        right: -12px;
        height: 3px;
        background: #4EA4F5;
        border-radius: 2px 2px 0 0;
        opacity: 0;
        transition: opacity $transition-duration ease-out;
      }
    }

    &_badge {
      min-width: 20px;
      height: 20px;
      border-radius: 10px;
      line-height: 21px;
      padding: 0 3px;
      background: #4EA4F5;
      color: #fff;
      margin: -5px 0 -5px 5px;
    }

    &:hover {
      background: rgba(#707579, 0.08);
    }

    &.-active {
      color: #4EA4F5;
    }
    &.-active > &_content::after {
      opacity: 1;
    }
  }

  &__header.-stretch &__tab {
    flex: 1 1 auto;
    padding-left: 0;
    padding-right: 0;
  }

  &__container {
    flex: 1; // If you set it to `auto`, the content won't have 100% height in Safari
    min-height: 0;
    position: relative;

    // Optimization: overflow hidden and z-index together lock the element to an independent render unit
    overflow: hidden;
    z-index: 0;

    & > div {
      transition: transform .3s ease-out;
    }

    & > .removing-left, & > .removing-right {
      position: absolute;
    }

    & > .removing-left {
      transform: translateX(-100%);
    }

    & > .removing-right {
      transform: translateX(100%);
    }

    & > .appearing-left {
      animation: tabsPanelAppearLeft .3s ease-out;
    }

    & > .appearing-right {
      animation: tabsPanelAppearRight .3s ease-out;
    }
  }
}

@keyframes tabsPanelAppearLeft {
  from {
    transform: translateX(100%);
  }
}

@keyframes tabsPanelAppearRight {
  from {
    transform: translateX(-100%);
  }
}
