.input {
  position: relative;

  &__label {
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 16px;
    top: 2px;
    left: 18px;
    height: 90%;
    height: calc(100% - 4px);
    border-radius: 10px;
    color: #A2ACB4;
    transition: .1s linear;
  }

  &.filled &__label {
    top: -9px;
    left: 12px;
    height: 20px;
    padding: 0 6px;
    font-size: 12px;
    background: #FFFFFF;
  }

  &.filled input:focus + .input__label {
    color: #4EA4F5;
  }

  & input {
    appearance: none;
    -webkit-appearance: none;
    font-family: 'Roboto';
    font-size: 16px;
    padding: 1rem 16px;
    height: 48px;
    width: 100%;
    border: 1px solid #DEE0E3;
    border-radius: 10px;
    outline: none;
    transition: .2s linear;

    &:focus {
      outline: none;
      border-color: #4EA4F5;
      border-width: 2px;
    }
  }
}