.input {
  position: relative;
  background: #FFFFFF;
  border-radius: 11px;
  border: 1px solid transparent;
  transition: border-color .2s ease;

  &__label {
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 1rem;
    top: 2px;
    left: 15px;
    height: 90%;
    height: calc(100% - 4px);
    border-radius: 10px;
    color: #A2ACB4;
    transition: .2s ease-out;
    user-select: none;
    z-index: 0;
  }

  &.filled &__label {
    top: -10px;
    left: 12px;
    height: 20px;
    padding: 0 3px;
    font-size: 12px;
    background: #FFFFFF;
    z-index: 1;
  }

  input {
    appearance: none;
    padding: 1rem 14px;
    height: 54px;
    width: 100%;
    border: 1px solid #DEE0E3;
    box-sizing: padding-box;
    border-radius: 10px;
    outline: none;
    transition: .2s ease;
    position: relative;
    z-index: 1;
    background: transparent;
    font-size: 1rem;
    background: #FFFFFF;
    font-size: 15PX;

    &:disabled {
      color: inherit;
    }
  }

  &.focused {
    border-color: #4EA4F5;

    input {
      outline: none;
      border-color: #4EA4F5;
    }
  }

  &.focused.filled &__label {
    color: #4EA4F5;
  }

  &.error {
    border-color: #ea615d;

    input {
      border-color: #ea615d;
    }
  }

  &.error.filled &__label {
    color: #ea615d;
  }
}
