.input {
  position: relative;
  background: #FFFFFF;
  border-radius: 10px;

  &__label {
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 16px;
    top: 2px;
    left: 16px;
    height: 90%;
    height: calc(100% - 4px);
    border-radius: 10px;
    color: #A2ACB4;
    transition: .2s ease-out;
    user-select: none;
    z-index: 0;
  }

  &.filled &__label {
    top: -9px;
    left: 13px;
    height: 20px;
    padding: 0 3px;
    font-size: 12px;
    background: #FFFFFF;
    z-index: 1;
  }

  &.filled input:focus + .input__label {
    color: #4EA4F5;
  }

  & input {
    appearance: none;
    -webkit-appearance: none;
    font-family: 'Roboto';
    font-size: 16px;
    padding: 1rem 14px;
    height: 48px;
    width: 100%;
    border: 1px solid #DEE0E3;
    box-sizing: padding-box;
    border-radius: 10px;
    outline: none;
    transition: .2s ease;
    position: relative;
    z-index: 1;
    background: transparent;

    &:focus {
      outline: none;
      border-color: #4EA4F5;
      border-width: 2px;
    }
  }
}