.message {
  position: relative;
  font-size: 15px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;

  &__wrapper {
    background: #FFFFFF;
    border-radius: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 2px 0px rgba(16, 35, 47, 0.15);
    z-index: 1;
    width: auto;
    max-width: 600px;
    overflow: hidden;
    display: inline-block;
    text-align: left;
    vertical-align: bottom;
  }

  &__content {
    padding: 5PX;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  &__corner {
    position: absolute;
    left: -9PX;
    width: 11PX;
    bottom: -1PX;
    height: 20PX; 
    z-index: 2;

    &-shadow {
      position: absolute;
      left: -9PX;
      width: 11PX;
      bottom: -3PX;
      z-index: 0;
    }
  }

  &.withpic &__corner {
    left: 25.5PX;

    &-shadow {
      left: 25.5PX;
    }
  }

  &__text {
    padding: 0PX 5PX;
    font-size: 15px;
  }

  &__date {
    float: right;
    font-size: 11px;
    color: #A3ADB6;
    font-weight: 400;
    margin-left: 4PX;
    margin-bottom: -3PX;
  }

  &__picture {
    width: 30px;
    height: 30px;
    background-color: #4797E2;
    border-radius: 50%;
    margin-right: 5px;
    display: none;
  }

  &.last.withpic &__picture {
    display: block;
  }

  &__title {
    font-size: 12px;
    font-weight: 500;
    color: #1DA1F1;
    line-height: 150%;
    display: none;
  }

  &.first &__title {
    display: block;
  }

  &.out &__title {
    display: none;
  }

  &.out {
    text-align: right;
    flex-direction: row-reverse;
  }

  &.out &__wrapper {
    background: #EEFFDE;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }

  &.out &__corner {
    transform: scaleX(-1);
    left: auto;
    right: -9PX;
    &-shadow {
      transform: scaleX(-1);
      left: auto;
      right: -9PX;
    }

    & #corner-fill {
      fill: #EEFFDE;
    }
  }

  &.out &__date {
    color: #54B152;
  }

  &.first, &:first-child {
    .message__wrapper {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

  &.last &__wrapper {
    border-bottom-left-radius: 0;
  }

  &.last.out &__wrapper {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 10px;
  }
}

.msgsvc {
  display: inline-block;
  margin: 0 auto;
  width: auto;
  max-width: 70%;
  color: #FFFFFF;
  background: #B3B8BB; // rgba(0, 0, 0, 0.08);
  height: 26px;
  border-radius: 13px;
  line-height: 20px;
  padding: 3px 10px;
  margin-bottom: 10px;

  strong {
    font-weight: 500;
  }
}

.media {
  position: relative;

  &__loader {
    position: absolute;
    left: auto;
    right: auto;
    top: auto;
    height: auto;
    width: 30px;
    height: 30px;
    margin: 0 auto;
  }

  &__thumbnail {
    background: #FFFFFF;
    overflow: hidden;

    &.i {
      width: 100%;
      min-width: 300px;
    }

    img {
      width: 100%;
      filter: blur(8px);
    }
  }
}